#  ---------------------------------------------------------------------------
#
#  Description:  This file holds all my Bash aliases.
#
#  Table of Contents:
#
#  ---------------------------------------------------------------------------
