#  ---------------------------------------------------------------------------
#
#  Description:  This file holds all my Bash exports.
#
#  Table of Contents:
#  1.   Go
#  2.   Python
#
#  ---------------------------------------------------------------------------

#   -------------------------------
#   1. Go
#   -------------------------------

# Set requesite Gon environment variables.
  export GOPATH=$HOME/golang

#   -------------------------------
#   2. Python
#   -------------------------------

# Ensure Python does not write bytecode.
  export PYTHONDONTWRITEBYTECODE=false
