#  ---------------------------------------------------------------------------
#
#  Description:  This file holds all my Bash exports.
#
#  Table of Contents:
#  1.   Go
#  2.   Python
#  3.   Bash
#  4.   Other
#
#  ---------------------------------------------------------------------------

#   -------------------------------
#   1. Go
#   -------------------------------

# Set requesite Gon environment variables.
export GOPATH=$HOME/dev/go

#   -------------------------------
#   2. Python
#   -------------------------------

# Ensure Python does not write bytecode.
export PYTHONDONTWRITEBYTECODE=false

#   -------------------------------
#   3. Bash
#   -------------------------------

# Set Bash completion directory so completion files are sourced automatically.
export BASH_COMPLETION_COMPAT_DIR=/opt/homebrew/share/bash-completion/completions

# Don't print the warning about zsh being the default shell.
export BASH_SILENCE_DEPRECATION_WARNING=1

# Set the default shell to bash.
export SHELL=/bin/bash

#   -------------------------------
#   4. Other
#   -------------------------------

export EDITOR=vim
