#  ---------------------------------------------------------------------------
#
#  Description:  This file holds all my Bash exports.
#
#  Table of Contents:
#  1.   Go
#  2.   Rust
#  3.   Python
#  4.   Bash
#
#  ---------------------------------------------------------------------------

#   -------------------------------
#   1. Go
#   -------------------------------

# Set requesite Gon environment variables.
  export GOPATH=$HOME/golang
  export GOROOT=/usr/local/opt/go/libexec

#   -------------------------------
#   2. Rust
#   -------------------------------

# Configuration required for Racer, see:
# https://github.com/racer-rust/racer/blob/master/README.md#configuration
  export RUST_SRC_PATH=/usr/local/src/rust/src

#   -------------------------------
#   3. Python
#   -------------------------------

# Ensure Python does not write bytecode.
  export PYTHONDONTWRITEBYTECODE=false

#   -------------------------------
#   4. Bash
#   -------------------------------

# Show normal history by default in hstr
# https://github.com/dvorka/hstr/blob/master/CONFIGURATION.md#history-view
export HH_CONFIG=rawhistory
